
<h1 mat-dialog-title>{{tituloAccion}} asegurado</h1>
<div mat-dialog-content class="width-form">
    <form [formGroup]="formInsured">
        <mat-grid-list cols="2" rowHeight="2:1">
            <div style="display: flex">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Identificación</mat-label>
                    <input matInput type="number" formControlName="id" autocomplete="off">
                  </mat-form-field>
            </div>
                  <div style="display: flex; gap: 16px;">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Primer nombre</mat-label>
                    <input matInput formControlName="firstName" autocomplete="off">
                  </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Segundo nombre</mat-label>
                    <input matInput formControlName="secondName" autocomplete="off">
                  </mat-form-field>
                  </div>
                  <div style="display: flex; gap: 16px;"> 
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Primer apellido</mat-label>
                    <input matInput formControlName="firstLastName" autocomplete="off">
                  </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Segundo apellido</mat-label>
                    <input matInput formControlName="secondLastName" autocomplete="off">
                  </mat-form-field>
                  </div>
                  <div style="display: flex; gap: 16px;">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" type="email" autocomplete="off">
                  </mat-form-field>
                  </div>
                  <div style="display: flex; gap: 16px;">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Teléfono</mat-label>
                    <input matInput type="number" formControlName="phone" autocomplete="off">
                  </mat-form-field>
                  
                <mat-form-field class="example-full-width">
                    <mat-label >Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="birthDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                  </div>
                  
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Valor estimado de solicitud de seguro</mat-label>
                    <input matInput type="number" formControlName="value" autocomplete="off">
                  </mat-form-field>
                  
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput formControlName="observations" autocomplete="off"></textarea>
                  </mat-form-field>
          </mat-grid-list>
    </form>
</div>

<div mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button mat-dialog-close color="primary"
    (click)="addEditInsured()" [disabled]="formInsured.invalid">{{botonAccion}}</button>
</div>
